<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="true">
	<!--注意此处要是false， 当日志发生异常程序不会发生异常，对于调试来说不适用。项目发布时选择false，较妥当。 --> 
	<!--文件配置-->
	<targets>
		<target xsi:type ="File"
		name="file"
		fileName="${basedir}/App_Data/Logs/${shortdate}.log"
		layout="${longdate} - ${level:uppercase=true}:${message} ${callsite:fileName=true} ${exception:format=Type,Message,Method,StackTrace:maxInnerExceptionLevel=5:innerFormat=ShortType,Message,Method,StackTrace}"
		keepFileOpen="false"
		archiveFileName="${basedir}/App_Data/Logs/Backup_${shortdate}.{##}.log"
		archiveNumbering="Sequence"
		archiveEvery="Day"
		maxArchiveFiles="30">

		</target>
	</targets>
		
	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
		<!-- <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="database" />-->
	</rules>
</nlog>
